<script type="text/javascript" src="../maze.js"></script>
<script type="text/javascript">
  x = <%= @level.startX %>;
  y = <%= @level.startY %>;
  level = <%= @level.levelNum %>;
  winXleft = <%= @level.winXleft %>;
  winXright = <%= @level.winXright %>;
  winYtop = <%= @level.winYtop %>;
  winYbottom= <%= @level.winYbottom %>;

  $(document).ready(function(){
    $("#menuLinkActivity1").addClass("active");

    init();
    window.addEventListener('keydown',doKeyDown,true);
  });
</script>
<div class="row">
  <div id="mainContent" class="span14 offset1 columns">
    <div class="page-header">
        <h1>
        The Maze 
        <small>
          Level <%= @level.levelNum%>
        </small>
      </h1>
    </div>

    <div class="row">
      <div class="span9 columns">
        <canvas id="canvas" width="482" height="482">
          This browser does not support HTML5 Canvas. Please upgrade to a later version.
        </canvas>
      
        
      </div>
      
      <div id="span2 columns">
        <dl>
          <dt>Controls</dt>
          <dd>Press <strong>w</strong> to move up</dd>
          <dd>Press <strong>s</strong> to move down</dd>
          <dd>Press <strong>a</strong> to move left</dd>
          <dd>Press <strong>d</strong> to move right</dd>
        </dl>
        <dl>
          <dt>Directions</dt>
          <dd>
            The goal of The Maze is to get to the exit. You'll start at the entrance, so 
            just click on the maze with your mouse, look for the exit (the other opening on the 
            external wall), and use the controls above to make your way to it. When you reach 
            the exit, you'll move on to the next level automatically.
          </dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="span12 columns">
        <div class="pagination">
          <?= createLevelMenu($level) ?>  
        </div>
      </div>
    </div>
  </div><!-- /col -->
</div><!-- /row -->